@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.8;
}
.slider{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide.current {
    opacity: 1;
}
.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    background-color: whitesmoke;
    color: black;
    width: 600px;
    padding: 10px 20px;
}
.slide.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}
.buttons #prev{
    position: absolute;
    top: 50%;
    left: 15px;
    width: max-content;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
}
.buttons #next{
    position: absolute;
    top: 50%;
    right: 15px;
    width: max-content;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
}
button:hover{
    background-color: yellow !important;
}

/* Backgorund Images */
 
.slide:first-child {
    background: url('https://source.unsplash.com/RyRpq9SUwAU/1600x900') no-repeat
      center top/cover;
  }
  .slide:nth-child(2) {
    background: url('https://source.unsplash.com/BeOW_PJjA0w/1600x900') no-repeat
      center top/cover;
  }
  .slide:nth-child(3) {
    background: url('https://source.unsplash.com/TMOeGZw9NY4/1600x900') no-repeat
      center top/cover;
  }
  .slide:nth-child(4) {
    background: url('https://source.unsplash.com/yXpA_eCbtzI/1600x900') no-repeat
      center top/cover;
  }
  .slide:nth-child(5) {
    background: url('https://source.unsplash.com/ULmaQh9Gvbg/1600x900') no-repeat
      center top/cover;
  } 
  .slide:nth-child(6)  {
    background: url('https://source.unsplash.com/ggZuL3BTSJU/1600x900') no-repeat
      center center/cover;
  }